*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: .2s linear;
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
  }
.center {
    display: block;
    margin-left: 75rem;
    margin-top: 25rem;
  }