@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

p {
  margin: 5px;
}

body {
  background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.6rem;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(62, 27, 113);
  outline: 1px solid rgb(91, 15, 203);
}
