<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample Email</title>
</head>
<body>
  <h2>Dear <%= name %>,</h2>
  <p>This is a sample email from NodeMailer.</p>
  <p>Regards,<br>Roy's Company</p>
</body>
</html>
