.navbar-container{
    display: flex;
    width: 1468px;
    padding: 3vh;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: rgb(16, 123, 230);
    color: white;
}
p{
    font-size: 20px;
}

.appname{
    margin-left: 480px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.logout{
    background-color: rgb(16, 123, 230);
    font-weight: bold;
    border-color: black;
    color: white;
}